<header class="container header">
    <div id="loading">読み込み中デース！</div>
    <h1><img src="/assets/logo.png"></h1>
</header>
<section class="container">
    <!-- TwitterBootstrapのグリッドシステムclass="row"で開始 -->
    <div class="row">
        <!-- グリッドシステムとは：合計12分割 -->
        <div id="data_area" class="btn_area col-sm-2">
            <button class="btn btn-primary" type="button" id="button_food">食材データ</button>
        </div>
        <div id="calendar" class="col-sm-10">
        </div>
    </div>
    <div class="row">
        <div id="message_area" class="msg_area">
            <p><a href="http://www.recipe-blog.jp/profile/83621/recipe/959472" target="brabk" alt="鶏もも肉　1枚/人参　2本/ごぼう　1本/里芋　5個/れんこん　小1個/こんにゃく　1枚/絹さや　8枚くらい/A 酒　大さじ1/A 醤油　小さじ2/砂糖　大さじ3/醤油　大さじ3/酒　大さじ3/みりん　大さじ1/サラダ油　適量/水　具材がひたるくらい">
                [sample]<b>筑前煮</b> 鶏もも肉　1枚/人参　2本/ごぼう　1本/里芋　5個/れんこん　小1個/こん･･･</a></p>
        </div>
    </div>
</section>
<footer style="background-color: #fce5cd;" class="container">
</footer>
